.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  background-color: rgb(142, 88, 23);
  position: sticky;
  top: 0;
  z-index: 10;
}

.contain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: cetner;
  align-items: center;
  text-align: center;
}

.box {
  width: 200px;
  height: 100px;
  margin-bottom: 16px;
}

.a {
  background-color: rgb(135, 48, 48);
}

.b {
  background-color: rgb(80, 135, 48);
}

.c {
  background-color: rgb(48, 76, 135);
}

.d {
  background-color: rgb(125, 48, 135);
}

.e {
  background-color: rgb(123, 135, 48);
}

.f {
  background-color: rgb(33, 201, 89);
}
.g {
  background-color: rgb(33, 58, 201);
}
.h {
  background-color: rgb(187, 33, 201);
}

.p-article {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: cetner;
  align-items: center;
}

.post-section {
  transition: 0.3s ease-in;
  opacity: 0;
}
