canvas {
  width: 100%;
  height: 100%;
}

.section-3 {
  text-align: center;
  padding: 40px;
}

button {
  padding: 8px;
}

.section3-container {
  padding: 40px;
  margin-top: 200px;
  min-height: 200px;
}

.sitem {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(53, 49, 125);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
